body {
	background-color: aquamarine;
	font-family: 'Montserrat', sans-serif;
}
header {
	background: #BBBBBB;
	padding: 20px 0;
}
.caixa {
	position: relative;
	width: 940px;
	margin: 0 auto;
	background: linear-gradient(orange 20%, blue,red,yellow);
}
nav {
	position: absolute;
	top:110px;
	right: 100PX;
}
nav li {
	margin: 0 0 0 15px;
}

nav a {
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
	
}
nav a:hover {
	color: #C78C19;
	text-decoration: underline ;
}
.produtos {
	width: 940px;
	margin: 0 auto;
	padding: 50px 0;
}
.produtos li {
	display: inline-block;
	text-align: center;
	width: 30%;
	vertical-align: top;
	margin: 0 1.5%;
	padding: 30px 20px;
	box-sizing: border-box;
	border-color: #000000;
	border-width: 2px ;
	border-style:solid ;
	border-radius: 10px;

}
.produtos li:hover {
	border-color: #C78C19;
}
.produtos li:active {
	border-color: #088C19;
}
.produtos li:hover h2 {
	font-size: 34px;
}
.produtos h2 {
	font-size: 30px;
	font-weight: bold;
}
.produto-descricao {
	font-size:18px ;
}
.produto-preco {
	font-size: 22px;
	font-weight: bold;
	margin-top: 10px;
}
footer {
	text-align: center;
	background: #000000;
	padding: 40px 0;
}
.copyright {
	color: #FFFFFF;
	font-size: 13px;
	margin: 20px 0;
}
main {
	width: 940px;
	margin: 0 auto;
}
form {
	margin: 40px 0;
}
form label, form legend {
	display: block;
	font-size: 20px;
	margin: 0 0 10px;
}
.input-padrao {
	display: block;
	margin: 0 0 20px;
	padding: 10px 25px;
	width: 50%;
}
.checkbox {
	margin: 20px 0;
}
.enviar {
	width: 40%;
	padding: 15px 0;
	background: orange;
	color: white;
	font-weight: bold;
	font-size: 18px;
	border: none;
	border-radius: 5px;
	transition: 1s all;
	cursor: pointer;
}
.enviar:hover {
	background: red;
	transform: scale(1.2);
}
table {
	margin: 20px 0 40px;
}
thead {
	background: #555555;
	color: white;
	font-weight: bold;
}
td,th {
	border: 1px solid #000000;
	padding: 8px 15px;
}

/* pagina inicial*/
* {
    font-family: 'Montserrat';
}

body {
	
	text-align: 50px;
	font-family: 'Montserrat', sans-serif;
}
.banner {
	width: 100%;
}
.principal {
	box-shadow: inset 0 0 30px #FF0000;
	background: #fefefe;
	padding: 3em 0;
}
.principal p {
	margin: 0 0 1em;
}
.principal strong {
	font-weight: bold;
}
.principal em {
	font-style: italic;
}
.titulo-principal {
	text-align: center;
	padding-left: 20px;
	font-size: 2em;
	margin: 0 0 1em;
	clear: left;
	opacity: 0.3;
	text-shadow: 2px 2px #FF0000;
}
.titulo-centralizado {
	text-align: center;
}
p {
	text-align: center;
}
#missao {
	font-size: 20px;
}	
em strong {
	color: #FF0000;
}
.itens {
	
	font-style: italic;

}
.beneficios{
	
	background: #FFFFFF;
	padding: 20px;	
	box-shadow: inset 0 0 30px #FF0000;
}
ul {
	display: inline-block;
	vertical-align: top;
	width: 17%;
	margin-right: 15%;
}
.imagembeneficios {
	width: 50%;
	box-shadow: 10px 10px 5px 10px #000000, -10px -10px yellow, -20px 20px rgba(255, 0, 0, 0.5) ;

}

.utensilios {
	width: 120px;
	float: left;
	margin: 0 20px 20px 0;
	
}
.video {
	width: 500px;
	margin: 50px auto;
	
}

